textarea, input[type="text"], input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

input[type="file"] {
    padding: 3px;
}
.list-group-item:hover {
    background-color: #f8f9fa;
    transition: background-color 0.3s;
}

.group-hover\:visible {
    visibility: hidden;
}

.list-group-item:hover .group-hover\:visible {
    visibility: visible;
}
